/*.first {
    width: 100%;
    height: 1000px;
    background: #ccc;
}*/

/*.second {
    width: 100%;
    height: 1000px;
    background: #999;
}*/

body{
    background-color: white;
}

#land {
    padding-top: 20vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color: white;
}

#content {
    align-content: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    background-color: white;
}


#ccontent {
    padding-top: 10vh;
    align-content: center;
    text-align: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    background-color: white;
        -webkit-transform: scale(0.97);
       -moz-transform: scale(0.97);
            transform: scale(0.97);
}

#backgroundTitle{
    align-content: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

ul{
    list-style: none;
}

.selfPic{

}

.python-courses {
    width: 200px;
    font-family: 'Montserrat'; font-size: 15px;
    text-align: left;
    align-content: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    /*width: 300px;*/
}

.java-courses {
    width: 200px;
    font-family: 'Montserrat'; font-size: 15px;
    text-align: left;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.cpp-courses {
    width: 200px;
    font-family: 'Montserrat'; font-size: 15px;
    text-align: left;
    align-content: right;
    margin-left: auto;
    margin-right: auto;
}


.landed {
    display: inline-block;
    height: 130px;
    line-height: 150px;
    font-family: 'Roboto Slab' ; font-size: 30px; color: black;
    /*background-color: wheat;*/
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}


.icon{
    height: 96px;
    width: 96px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.center{
    float: none;
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.skillContent{
    align-content: left;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}



/*Buttons */

.button {

    display: inline-block;
    font-family: 'Roboto Slab'; color: black;
    /*-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;*/
    width: auto;
    background-color: white;
    text-align: center;
    border: 3px solid black;
    padding: 8px 25%;
    margin-bottom: 10px;
    border-color: #454545;
}

.button:hover {
    background-color: green;
    color: white;
    border-color:#454545;
}

/*.navi-about{
    align-content: center;
    justify-content: center;
    text-align: center;

}

.navi-skills{
    align-content: center;
    justify-content: center;
    text-align: center;
}

.navi-contact{
    align-content: center;
    justify-content: center;
    text-align: center;
}*/
